body{
    background-color: white;
    text-align: center;
    display: block;
}

#main-header{

}

#main-content{
background-color: lightblue;
}

#main-footer{
background-color: grey;
}

.padded-area{
    padding: 7px;
    margin: auto;

}

.info {
    border: 2px solid darkblue;

}
.info header{
background-color: darkcyan;

}

/*upper part of page*/

#upper{
background-color: lightgreen;
}

.top{
    color: black;
    display: inline-block;
    padding: 5px;
    text-align: left;
    
}
.space{
    background-color: white;
    display: inline-block;
    padding: 10px;
}
.bot{
    color: black;
    display: inline-block;
    padding: 5px;
    
    
}
/* clumn 1 of 2 display*/
.col1of2{
    background-color: lightgreen;

}

/*main nav*/

#main-nav ul{
    background-color: grey;
}

#main-nav li{
    list-style-type: none;
   /* display: inline-block; */
}

#main-nav a{
    text-decoration: none;
    color: white;
}

#main-nav a:hover{
    border-bottom: 2px solid green;
    
}
/* main content*/
.nestcol{
    background-color: lightseagreen;
    display: inline-block;
}
/*typeogphy*/

body{
    font-family: Arial, Helvetica, sans-serif;
    
}
/*images*/
image{
    padding: 20px;
}

/* larger res */

@media only screen and (min-width: 600px) {
    #main-nav li{
       display: inline-block;
    }

    .columns{
        display: flex;
    }
    .upper{
        display: flex;
    }
    .top{
        flex: 1;
    }

    .col1of2{
        flex:1;
    }
}