/* main areas */

body{
    background-color: white;
    text-align: center;
    margin: 30px;
}

#main-header{
    
}

#main-content{

}

#main-footer{
background-color: grey;
}

/*general classes*/
 
.padded-area{
    padding: 7px;
    margin: auto;

}

/*main nav*/

#main-nav ul{
    background-color: grey;
    display: flex;
}

#main-nav li{
    list-style-type: none;
   /* display: inline-block; */
   margin: auto;
   
}

#main-nav a{
    text-decoration: none;
    color: white;
}

#main-nav a:hover{
    border-bottom: 2px solid green;
    
}
/*upper part of page*/






.upper{ /* main content and side bar*/
    
    column-gap: 20px;
    
}

.main-content-test{
    display: block;
}

/*main content*/
 .top{ 
    color: black;
    padding: 5px;
    text-align: left;
    border: 2px solid orange;
    width: 60%;
    background-color: aquamarine;

}
#main-con{
    display: inline;
}
#main-con-text{

}
/* side bar*/
 .bot{
    text-align: left;
    background-color: blue;
    color: black;
    padding: 5px;
    margin: auto;
   border: 2px solid purple;
   width: 30%;
}  


/* NEXT PART COLUMS AREA*/

.columns{
    background-color: aqua;
    margin: auto;
    padding: 5px;
   
}
.nestcol{/*DONT CHANGE ITS PERFECT AS IT IS*/
    border: 2px solid blue;
    padding: 30px;
    margin: 10px;
    display: flex;
    color: white;
}
.col-text{/*COL 1 OF 2 STUFF*/
    text-align: left;
}


.info-col1of2{
    background-color: lightgreen;
    border: 5px solid darkcyan;
    padding: 10px;
    margin: auto;
    text-align: left;
}

#main-poop{
    column-width: 70%;
    width: 70%;`
}

#side-poop{
    width: 40%;
    display: flex;
}


/* main content*/
.nestcol{
    background-color: lightseagreen;
    display:inline-block;
   
}
/* footer information*/
footer{
    color: white;
    text-align: center;
}
#adress{
    color: white;
    text-align: bottom right;

}

/*typeogphy*/

body{
    font-family: Arial, Helvetica, sans-serif;
    
}
/*images*/
image{
    margin: auto;
    padding: auto;
    display: block;
}













/* larger res */

@media only screen and (min-width: 600px) {
    #main-nav li{
       display: inline-block;
    }
 
    .flex-container{
        display: flex;
    }
    .columns{
        display: flex;
    }
    .upper{
        display: flex;
    }
    .top{
        display: flex;
        flex: 1;
    }
    #footer{
        flex: auto;
    }

    .col1of2{
        flex:1;
    }
}