body{
    background-color: white;
}

#main-header{

}

#main-content{
background-color: lightblue;
}

#main-footer{
background-color: grey;
}

.padded-area{
    padding: 7px;
    margin: auto;

}

.info {
    border: 2px solid darkblue;

}
.info header{
background-color: darkcyan;

}

/*upper part of page*/

#upper{
background-color: lightgreen;
}

#top{
    color: crimson;
}

#bot{
    color: darkmagenta;
}
/* clumn 1 of 2 display*/
.col1of2{
    background-color: lightgreen;

}

/*main nav*/

#main-nav ul{
    background-color: grey;
}

#main-nav li{
    list-style-type: none;
   /* display: inline-block; */
}

#main-nav a{
    text-decoration: none;
    color: black;
}

#main-nav a:hover{
    border-bottom: 2px solid green;
    
}

/*typeogphy*/

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* larger res */

@media only screen and (min-width: 600px) {
    #main-nav li{
       display: inline-block;
    }

    .columns{
        display: flex;
    }
    .upper{
        display: flex;
    }
    .top{
        flex: 1;
    }

    .col1of2{
        flex:1;
    }
}