body{
    background-color: #4169E1;
}

#main-header{
    background-color: white;
    border: 5px lightblue solid;
    display: block;
    text-align: center;
}

.main-content{
   display: flex;
}

.main-content{
    display: flex;
}

#ass-1,#ass-2,#ass-3, #ass-5{
    background-color: aquamarine;
    display: table;
    border: 5px solid deepskyblue;
    margin: 10px;
    padding: 40px 20px;
    text-align: center;
    float: left;
    clear: both;
    width: 33%;
}

footer{
    text-align: center;
    color: #AAAAAA;
}

a:hover{
    color: red;
 }
 a{
    text-decoration: none;
 }

/*text*/

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media only screen and (max-width: 600px) {
    
    .main-content{
        flex-direction: column;
    }

    #ass-1,#ass-2,#ass-3{
        flex: 1;
    }
}