body{
    background-color: #4169E1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-header{
    background-color: white;
    border: 5px lightblue solid;
    display: block;
    text-align: center;
}

.main-content{
   display: flex;
   flex: 1;
   flex-wrap: wrap;
}

.ass{
    padding: 10px;
}

footer{
    text-align: center;
    color: #AAAAAA;
}

a:hover{
    color: red;
 }
 a{
    text-decoration: none;
 }

/*text*/

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main-nav ul {
    padding-left: 0px;
    list-style: none;
}
#main-nav li {
    background-color: #949292;
    padding: 10px;
    margin: auto;
}
#main-nav a {
    text-decoration: none;
    color:white;
}
#menu-items li {
    text-align: center;
}
.padded-area {
    padding: 5px;
    margin: auto;
}

@media only screen and (min-width: 600px) {
    
    .main-content{
        display: flex;
        flex-wrap: wrap;
        flex: auto;
    }

    
    #menu-items {
        display: flex;
    }


    #menu-items a {
        border-bottom: 3px solid transparent;
    }

    #menu-items a:hover {
        border-bottom: 3px solid rgb(160, 153, 153);
    }

    #menu-toggle {
        display: none;
    }
}