#square{
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.anna{
    position: relative;
    animation-name: anim-square;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes anim-square {
    0%{
background-color: red;
top: 0px;
    }
    25%{
background-color: orange;
    }
    50%{
background-color: yellow;
top: 100px;
    }
    75%{
background-color: green;
    }
    100%{
background-color: blue;
top: 0px;
    }
}