body{
background-color: green;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image: url(images/DSC_0156.JPG);
}

#main-header{
    background-color: royalblue;
   
}

.LI{
    background-color: lightblue;
}

#writing{
    background-color: thistle;
}
table{
   
    background-color: cadetblue;
}
table, th, td{
    border: 2px solid;
    border-color: gray;
}