

body{
    background-image: url(https://gh.cdn.sewest.net/assets/ident/news/final-fantasy-vii-remake-zoom-backgrounds/en_US/ffviir-zoom-midgar-city.jpg?quality=65&width=100%25&height=100%25);
    background-repeat: repeat;
    background-size: contain;
color: blue;

}