:root {
    --percentage: 0%;
}
/* the basic*/
body{
    background-color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/* first running man*/
#running{
    background-color: antiquewhite;
    border: black 5px solid;
   padding: 10px;
}
#runner {
    --goLeft: 0%;
    position: relative;
    left: var(--goLeft);
}
.hidden{
    display: none;
}

/*donating*/
#exercise{
    background-color: antiquewhite;
    border: black 5px solid;
    padding: 10px;
}
#error {
    color: red;
}

#thermometer-outline {
    height: 500px;
    width: 150px;
    border: 5px solid black;
    margin: auto;
}

#gradient {
    height: 500px;
    width: 150px;
}

.gfull {
    background: linear-gradient(0deg, #d00019 var(--num), white var(--num) 100%);
}


 @media only screen and (min-width: 600px) {
    .flex-cont{
        display: flex;
    }
    
    .flex{
        flex: 1;
    }
    
} 

