/* Structure */
body {
    background-color: rgb(40, 102, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2{
    text-align: center;
}

#main-rainbow,
#main-quote {
    width: 100%;
    height: 100%;
    background-color: rgb(161, 247, 235);
    border: 4px solid rgb(31, 161, 122);
}

#rainbow {
    width: 100%;
    height: 100px;
}

#potOfGold {
    position: relative;
    top: -150px;
    left: 360px;
}

.rainbowStrip {
    width: 500px;
    height: 30px;
    margin: 0px;
}

.hidden {
    display: none;
}

/* Larger Resolutions */
@media (min-width:900px){

    .flex-container {
        display: flex;
    }

}