/*Structure*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:white;
    width: 90%;
    margin: auto;
}
header{
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    margin: -10px;;
    padding: 1em;
    display: block;

}
footer{
    background-color:#73000A;
}

h1,h2,h3,h4,h5,h6{
    color: #73000A;
}
#subhead{
    color:white;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    padding: 20px;
   
}
li:hover{
    color: white;
    background-color: #73000a;
}
li{
    padding: 10px;
}
h1{
    padding: .5em;
    text-align: left;
}
h6{
    text-wrap: nowrap;
}
#main-list ul li{
    border-bottom: 1px solid gray;
    border-top: 1px solid grey;
    list-style: none;
}

#col-name{
    background-color: #73000A;
    color: white;
    padding: 10px;
}
#final {
    background-color: #73000a;
    padding: 30px;
    color:white;
}

#final a {
    color: white;
    text-decoration: none;
}

#final a:hover {
    background-color: #cc2e40;
}

#final ul {
    display: inline-block;
}

footer {
    background-color: black;
    margin-top: -16px;
}

footer a,
footer li {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: small;
}

footer a:hover {
    background-color: #cc2e40;
}
.botlist li{
    text-wrap:wrap;
}
.botlist{
    color: white;
}
#col-name:after{
    background-color: #73000A;
}
#Headers{
    background-color: black;
}
#subfooter{background-color: #ECECEC;

}

#topnav{
    position: absolute;
    text-align: right;
}
#main-nav{
    display: flex;
    list-style: none;
    text-align: left;
    margin: 3px;
}
#main-nav ul{
    align-self: flex-end;
}
#main-nav li{
   text-wrap: nowrap;
   padding: 5px;
   align-self: flex-end;
}
#side{
    border: black 2px solid;
    background-color: lightgrey;
}

#main-list a{
    text-decoration: none;
    color:black;
    size: 24px;
}

#main-section{
   
    display:flex;
    margin: auto;
    padding: 50px;
    width: 70%;
}
.row{
    padding: 5px;
    border-bottom: 1px solid;
    border-color: grey;
    border-top: 1px solid grey;

}
#main-content{
    padding-left:5em;
    flex: 80%;
}
#copyright{
    justify-content: flex-start;
}
#footnav{
    position: relative;
    justify-content: flex-end;
    flex: 1;
    padding: .75em;
}
li:hover{
    color: white;
    background-color: #73000a;
}

#plain{
    color: black;
}

@media (min-width:1000px) {
    .container{
        display: flex;
        ;
    }
    .flexing{
     align-self: flex-start;
     padding-right: 5px;
    }
    #mainimg{
        align-self: center;
        width: 100%;
        height: auto;
    }
    #sub, .bottom{
        flex: 1;
    }
    #main-nav ul{
        display: flex;
        
    }
    #main-nav li,.botlist{
        flex: 1;
    }
    #sub{
        flex: 90%;
    }
   footer{
    display: flex;
   }
}