body    {
    background-color: aliceblue;
}

/* header edits*/

#main-header{
    background-color: black;
    
  color: aliceblue  ;
  display: flex;
}

#main-nav{
   margin: auto;
display: flex;
   

}

#main-nav ul{
    padding: 10px;
    list-style-type: none;
  
}

#main-nav li{
    padding: 10px;
    list-style-type: none;
}
#main-nav a{
    text-decoration: none;
}

#main-nav a :hover{
    color: red;
}

#under-nav{
    background-color: #73000A;
    display: flex;
    margin: auto;
}
#under-nav table{
    margin: auto;
    display: block;
    padding: 10px;
    
}
#under-nav tr{
    margin: auto;
    display: block;

}

/* sections*/

/*1*/

#sec-1{
    background-color: #FFFFFF;
}
/*2*/
#sec-2{
    background-color: #73000A;
}
/*3*/
#sec-3{
    background-color: black;
}
/*4*/
#sec-4{
    background-color: #ECECEC;
}
/*5*/
#sec-5{
    background-color: #FFFFFF;
}
/*6*/
#sec-6{
    background-color: #570008;
}
/*7*/
#sec-7{
    background-color: #ECECEC;
}
/*8*/
#sec-8{
    background-color: #1F414D;
}
/*9*/
#sec-9{
    background-image: url(images/back.gif);
}
/*10*/
#sec-10{
    background-color: #ECECEC;
}