figure{
    color: aquamarine;
}

body{
    background-color: rgb(34, 9, 1);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 5px;
    border-color: rgb(246, 170, 28);
}
h1{
    background-color:rgb(98, 23, 8);
    color: rgb(188, 57, 8);

}
h2{
    background-color: rgb(98, 23, 8);
    color: rgb(188, 57, 8);
}
p{
    background-color: rgb(98, 23, 8);
    color: rgb(188, 57, 8);
}